[Desktop Entry]
Name=Meteo
GenericName=Meteo
Comment=Forecast App for desktop
Categories=Utility;
Exec=org.pantheon.meteo
Icon=org.pantheon.meteo
Terminal=false
Type=Application
StartupNotify=true
X-GNOME-Gettext-Domain=org.pantheon.meteo
Keywords=Meteo;Weather;Forecast;Temperature;Wind;Snow;Rain;
X-GNOME-UsesNotifications=true
